@font-face {
  font-family: "plaak-light";
  src: url("Fonts/Plaak\ -\ 26-Ney-Light-205TF.ttf");
}
@font-face {
  font-family: "plaak-regular";
  src: url("Fonts/Plaak\ -\ 36-Ney-Regular-205TF.ttf");
}
@font-face {
  font-family: "plaak-bold";
  src: url("Fonts/Plaak\ -\ 46-Ney-Bold-205TF.ttf");
}
@font-face {
  font-family: "plaak-heavy";
  src: url("Fonts/Plaak\ -\ 56-Ney-Heavy-205TF.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: "plaak-light", sans-serif;
  /* cursor: url("MOUSE/MOUSE 2.svg"), auto; */
  user-select: none;
  overflow-x: hidden;
}

body.overlay-open {
  overflow: hidden;
}

/* custom-mouse */

#custom-mouse {
  cursor: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: white;
  mix-blend-mode: exclusion;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  z-index: 10000;
  transition: transform 0.5s ease;
}

/* main-section */

.main-section {
  width: auto;
  overflow: hidden;
  height: 100vh;
}

/* carousel */

.carousel-container-image-slide {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slide {
  background-size: cover;
  background-position: center;
  object-fit: contain;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
}

.image-slide:first-child {
  opacity: 1;
}


/* Small screens (up to 576px) */
@media only screen and (max-width: 576px) {
  .main-section {
    height: 100vh;
    width: 100%;
    padding: 50px 0;
  }

  .carousel-container-image-slide {
    object-fit: cover;
  }
}

/* Medium screens (577px to 991px) */
@media only screen and (min-width: 577px) and (max-width: 991px) {
  .main-section {
    height: 100vh;
    width: 100%;
    padding: 50px 0;
  }

  .carousel-container-image-slide {
    object-fit: cover;
  }
}

/* Large screens (992px and above) */
@media only screen and (min-width: 992px) {
  .main-section {
    height: 100vh;
    width: 100%;
    padding: 0;
  }

  .carousel-container-image-slide {
    object-fit: contain;
  }
}

/* navbar */

nav {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  opacity: 1;
  height: 60px;
}

@media screen and (max-width: 576px) {
  nav {
    height: 42px;
    background-color: transparent;
  }
  nav:hover {
    background-color: #f4f3f3;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  nav {
    height: 48;
  }
}

@media screen and (min-width: 992px) {
  nav {
    height: 62px;
  }
}



nav:hover {
  background-color: #f4f3f3;
}

.nav-hover-change:hover:not(#overlay) {
  background-color: transparent;
}

.nav-hover-change:hover {
  background-color: #f4f3f3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.navbar-color-change {
  border-bottom: 1px solid #f4f3f3;
}

#logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin-left: 15px;
  margin-top: 10px;
}

#logo1 {
  width: 60px;
  height: 50px;
  /* animation: slide1 1s ease-in-out forwards; */
}

#logo2 {
  width: 70px;
  height: 50px;
  /* animation: slide2 1s ease-in-out forwards; */
}

@keyframes slide1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0); /* Ajusta la separación del primer logo */
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25px); /* Ajusta la separación del segundo logo */
  }
}

@keyframes slide3 {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0px); /* Ajusta la separación del segundo logo */
  }
}
@media screen and (max-width: 576px) {
  #logo-container {

    margin-top: 0px;
  }
  #logo1 {
    width: 40px;
    height: 30px;
    /* animation: slide1 1s ease-in-out forwards; */
  }
  
  #logo2 {
    width: 50px;
    height: 30px;
    /* animation: slide2 1s ease-in-out forwards; */
  }
  
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  #logo-container {

    margin-top: 0px;
  }
  #logo1 {
    width: 50px;
    height: 40px;
    /* animation: slide1 1s ease-in-out forwards; */
  }
  
  #logo2 {
    width: 60px;
    height: 40px;
    /* animation: slide2 1s ease-in-out forwards; */
  }
}


.logo-color-change {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

.nav-buttons {
  border: none;
  background-color: transparent;
  display: flex;  
  padding-bottom: 15px;
  padding-right: 20px;
  margin-bottom: 1px;
  justify-content: center;
  align-items: center;
  
}

.hamburger-button {
  background-color: transparent;
  color: #1d1d1b;
  border: none;
  font-family: "plaak-bold";
  display: inline-block;
  text-align: center;
}

.hamburger-button-color-change {
  color: #f4f3f3;
  margin-right: 10px;
}

.hamburger-button-triangle {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
}

.hamburger-button-agency {
  transform: scaleX(-1) scaleY(-1);
  display: inline-block;
}

.newPosition {
  /* transform: scaleX(-1) scaleY(-1); */
  display: inline-block;
}

.newPosition .hamburger-button-triangle {
  transform: scaleX(1);
}
.newPosition .hamburger-button-agency {
  transform: scaleY(1);
}


.language-button-container {
  margin-right: 55px;
  margin-top: 10px;
  display: flex;
}

.language-button {
  font-weight: bold;
  border: none;
  background-color: transparent;
  font-family: "plaak-bold";
  margin-top: 12px;
  margin-left: 1px;
}

.language-button a {
  background-color: transparent;
  color: #1d1d1b;
  padding: 1px;
  text-decoration: none;
}

.language-button a:hover {
  color: black;
}

.language-button-span {
  margin-top: 12px;
  padding: 5px;
}

.language-button-span-color-change {
  color: #f4f3f3;
}

.language-button.language-button-color-change a {
  color: #f4f3f3;
}

.language-button-container-change {
  margin-right: 63px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 998;
  cursor: url("MOUSE/CIRCULO\ BLANCO\ \(1\).svg"), auto;
}
@media screen and (max-width: 576px) {
   #overlay{
   
    width: 100%;
    height: 100vh;
    
   }

    
  }
  
    


@media screen and (min-width: 577px) and (max-width: 991px) {
 
}

@media screen and (min-width: 992px) {
 
}
.nav-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 100vh; /* set maximum height to viewport height */
  background-color: #1d1d1b;
  font-size: 42px;
  letter-spacing: -2.3px;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-spacing: -1px;
  overflow-y: auto; /* allow for scrolling within the element */
  overflow-x:hidden;
}


.nav-menu ul {
  list-style: none;
  padding: 0;
}

.nav-menu ul li {
  margin-bottom: 20px;
}

.nav-menu ul li a {
  color: #f4f3f3;
  text-decoration: none;
  text-align: center;
}

.nav-menu-a {
  font-size: 18px;
  letter-spacing: -0.4px;
  margin-top: -12px;
}

.nav-menu ul li a:hover {
  color: #ffffff;
}

#what-we-do {
  padding-bottom: 6px;
}

#submenu {
  display: none;
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

#what-we-do:hover #submenu {
  display: block;
  margin-top: 20px;
  margin-bottom: -25px;
  opacity: 1; /* Muestra el submenu estableciendo una opacidad de 1 */
}
@media screen and (max-width: 576px) {
  .nav-menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    max-height: 100vh; /* set maximum height to viewport height */
    background-color: #1d1d1b;
    font-size: 22px;
    letter-spacing: -2.3px;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: -1px;
    overflow-y: auto; /* allow for scrolling within the element */
  }
    
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .nav-menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    max-height: 100vh; /* set maximum height to viewport height */
    background-color: #1d1d1b;
    font-size: 32px;
    letter-spacing: -2.3px;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: -1px;
    overflow-y: auto; /* allow for scrolling within the element */
  }
}

@media screen and (min-width: 992px) {
 
}
/* textbar */

.textbar {
  position: absolute;
  top: 65px;
  height: 18px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  background-color: #1d1d1b;
  padding: 4px;
  z-index: 997;
}

.textbar-text {
  color: #f4f3f3;
  font-size: 8px;
  padding-bottom: 0.3px;
  font-style: bold;
  white-space: nowrap;
  animation: scroll-left 15s linear infinite;
  animation-delay: 1s;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 576px) {
  .textbar {
    top: 0px;
    height: 18px;
    width: 100%;
  
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .textbar {
    top: 10px;
    height: 18px;
    width: 100%;
  
  }
}


/* main tittle */

.main-tittle {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 13% 0;
  line-height: 1.3;
  color: #cbb921;
  mix-blend-mode: exclusion;
}

.main-tittle h1 {
  position: relative;
  font-family: "plaak-light";
  font-size: 4vw;
  color: #cbb921;
  mix-blend-mode: exclusion;
  font-weight: 205;
}

.main-tittle span {
  position: relative;
  font-family: "plaak-light";
  font-size: 1vw;
  color: #cbb921;
  mix-blend-mode: exclusion;
  font-weight: 205;
}

/* main-section media-queries  */

/* space-section */

.space-section {
  height: 40vh;
  background-color: #f4f3f3;
}
/* second-section */

.second-section {
  height: 140vh;
  width: auto;
  background-color: #a42f33;
  /* border-bottom: 1px solid white; */
  position: relative;
}

.carousel-container {
  background-color: #000;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel {
  width: 50%;
  max-width: 100%;
  height: 50%;
  position: absolute;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel .prev,
.carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: #fff;
  mix-blend-mode: exclusion;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  cursor: none;
  opacity: 1;
}

.carousel .prev {
  left: -5px;
}

.carousel .next {
  right: -5px;
}

.carousel .indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1d1d1b;
  mix-blend-mode: exclusion;
  margin: 0 5px;
  cursor: none;
}

.carousel .indicator.active {
  background-color: #f4f3f3;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 576px) {
  .second-section {
    height: 100vh;
    width: auto;
    background-color: #a42f33;
    /* border-bottom: 1px solid white; */
    position: relative;
  }
  
  .carousel-container {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .carousel {
    width: 90%;
    max-width: 100%;
    height: 50%;
    position: absolute;
    overflow: hidden;
  }
    
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .second-section {
    height: 100vh;
    width: auto;
    background-color: #a42f33;
    /* border-bottom: 1px solid white; */
    position: relative;
  }
  
  .carousel-container {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .carousel {
    width: 90%;
    max-width: 100%;
    height: 50%;
    position: absolute;
    overflow: hidden;
  }
  .carousel .indicators {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/* talents */

.talent-section {
  background-color: #f4f3f3;
}
.talent {
  font-size: 150px;
  font-weight: 400;
  margin-top: -20px;
  /* bottom: 0; */
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #f4f3f3;
  border-radius: 5px;
  margin-bottom: 0px;
  margin-top: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  position: relative;
}

.card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dedede;
  z-index: 1;
}

.card1 {
  background-image: url("img/image-1.jpg");
}

.card2 {
  background-image: url("img/image-2.jpg");
}

.card3 {
  background-image: url("img/image-2.jpg");
}

.card4 {
  background-image: url("img/image-4.jpg");
}

.card5 {
  background-image: url("img/image-6.jpg");
}

.card6 {
  background-image: url("img/image-6.jpg");
}

.card7 {
  background-image: url("img/image-7.jpg");
}

.card8 {
  background-image: url("img/image-8.jpg");
}

.card9 {
  background-image: url("img/image-9.jpg");
}

.card10 {
  background-image: url("img/image-10.jpg");
}

.card h3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: rgb(3, 3, 3);
  z-index: 1;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.card p {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  padding: 0px;
  margin: 0;
  display: none;
  color: rgb(11, 11, 11);
  text-align: left;
  z-index: 1;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 577px) {
  .card h3 {
    font-size: 30px;
    top: 0;
    left: 0;
    margin: 0;
    transform: none;
  }
  .card img {
    display: none;
  }
  .card button {
    display: none;
  }
  .card:hover p {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .card {
    max-width: 100%;
    height: 100px;
    background-color: #0f0f0f;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #012602;
    position: relative;
  }

  .card img {
    display: none;
    height: 500px;
    z-index: 4;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card h3 {
    background-color: #e8e8e8;
    width: 100%;
    height: 100px;
    z-index: 1;
  }

  .card p {
    display: none;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    padding: 10px;
    max-width: 100%;
    height: 500px;
    z-index: 7;
    background-color: #9f9e9e;
    text-align: left;
    font-size: 22px;
    margin-bottom: 110px;
  }

  .card button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: #292929;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .button2 {
    margin-left: 20px;
  }

  .first-row {
    display: none;
  }
  .talent {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .column {
    width: 32.33%;
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .column {
    width: 19%;
    display: inline-block;
  }
}

/* what-we-do */

.container-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f4f3f3;
  overflow: hidden;
}
.overlay1 {
  position: absolute;
  top: 10px;
  left: 25%;
  text-align: center;
  z-index: 1;
}

.overlay1 p {
  color: rgb(26, 26, 26);
  font-size: 54px !important;
  font-weight: 500;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}
.container-1 img {
  width: 50%;
  float: right;
  margin-top: -550px;
  object-fit: cover;
  position: absolute;
  margin-left: 50%;
}

.container-1 p {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 10px;
  font-weight: 600;
}

#last {
  text-align: right !important;
  margin-right: 65%;
}

.arrows {
  color: rgb(26, 26, 26);
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  margin-right: 80px;
  margin-top: 70px;
}

.arrow {
  display: block;
  color: rgb(26, 26, 26);
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  transform: translateY(-5px);
}

.arrow:hover,
.arrow:focus {
  color: #000000;
  cursor: none;
}

/*section 2*/
.container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f4f3f3;
  overflow: hidden;
}
.container2 p {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 10px;
  font-weight: 600;
}

#img-complete {
  width: 50%;
  float: right;
  margin-top: -550px;
  object-fit: cover;
  position: absolute;
  margin-left: 50%;
}

.overlay2 {
  position: absolute;
  top: 10px;
  left: 38%;
  text-align: center;
  z-index: 1;
}

.overlay2 p {
  color: rgb(26, 26, 26);
  font-size: 54px;
  font-weight: 500;
  margin: 0;
}
#middle-text {
  margin-left: 20%;
  margin-top: 100px;
}

#middle2-text {
  margin-left: 80px;
}

#lapiz {
  width: 50%;
  float: right;
  margin-top: -550px;
  object-fit: cover;
  position: absolute;
  margin-left: 50%;
}

#ZAPATOS {
  width: 50%;
  float: right;
  margin-top: -550px;
  object-fit: cover;
  position: absolute;
  margin-left: 50%;
}

.overlay3 {
  position: absolute;
  top: 10px;
  left: 40%;
  text-align: center;
  z-index: 1;
}

.overlay3 p {
  color: rgb(26, 26, 26);
  font-size: 54px;
  font-weight: 500;
  margin: 0;
}

#middle3-text {
  margin-left: 110px;
}

#middle4-text {
  margin-left: 300px;
}

#anteojo {
  max-width: 50% !important;
  float: right;
  margin-top: -550px;
  object-fit: cover;
  position: absolute;
  margin-left: 50%;
}

.overlay4 {
  position: absolute;
  top: 10px;
  left: 23%;
  text-align: center;
  z-index: 1;
}

.overlay4 p {
  color: rgb(26, 26, 26);
  font-size: 54px;
  font-weight: 500;
  margin: 0;
}

#middle5-text {
  margin-left: 300px;
}

.overlay5 {
  position: absolute;
  top: 10px;
  left: 28%;
  text-align: center;
  z-index: 1;
}

.overlay5 p {
  color: rgb(26, 26, 26);
  font-size: 54px;
  font-weight: 500;
  margin: 0;
}


@media screen and (max-width: 576px) {
  .container-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f4f3f3;
    overflow: hidden;
  }
  .overlay1 {
    position: absolute;
    top: 5px;
    left: 10px;
    text-align: center;
    z-index: 1;
  }
  
  .overlay1 p {
    color: rgb(26, 26, 26);
    font-size: 24px !important;
    font-weight: 500;
    margin: 0;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  .container-1 img {
    width: 50%;
    float: right;
    margin-top: -550px;
    object-fit: cover;
    position: absolute;
    margin-left: 50%;
  }
  
  .container-1 p {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 5px;
    font-weight: 600;
  }
  
  #last {
    text-align: right !important;
    margin-right: 65%;
  }
  
  .arrows {
    color: rgb(26, 26, 26);
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-right: 40px;
    margin-top: 40px;
  }
  
  .arrow {
    display: block;
    color: rgb(26, 26, 26);
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .arrow:hover {
    transform: translateY(-5px);
  }
  
  .arrow:hover,
  .arrow:focus {
    color: #000000;
    cursor: none;
  }
  
  /*section 2*/
  .container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f4f3f3;
    overflow: hidden;
  }
  .container2 p {
    margin-left: 40px;
    margin-top: 25px;
    font-size: 10px;
    font-weight: 600;
  }
  
  #img-complete {
    width: 50%;
    float: right;
    margin-top: -550px;
    object-fit: cover;
    position: absolute;
    margin-left: 50%;
  }
  
  .overlay2 {
    position: absolute;
    top: 10px;
    left: 38%;
    text-align: center;
    z-index: 1;
  }
  
  .overlay2 p {
    color: rgb(26, 26, 26);
    font-size: 54px;
    font-weight: 500;
    margin: 0;
  }
  #middle-text {
    margin-left: 20%;
    margin-top: 100px;
  }
  
  #middle2-text {
    margin-left: 80px;
  }
  
  #lapiz {
    width: 50%;
    float: right;
    margin-top: -550px;
    object-fit: cover;
    position: absolute;
    margin-left: 50%;
  }
  
  #ZAPATOS {
    width: 50%;
    float: right;
    margin-top: -550px;
    object-fit: cover;
    position: absolute;
    margin-left: 50%;
  }
  
  .overlay3 {
    position: absolute;
    top: 10px;
    left: 40%;
    text-align: center;
    z-index: 1;
  }
  
  .overlay3 p {
    color: rgb(26, 26, 26);
    font-size: 54px;
    font-weight: 500;
    margin: 0;
  }
  
  #middle3-text {
    margin-left: 110px;
  }
  
  #middle4-text {
    margin-left: 300px;
  }
  
  #anteojo {
    max-width: 50% !important;
    float: right;
    margin-top: -550px;
    object-fit: cover;
    position: absolute;
    margin-left: 50%;
  }
  
  .overlay4 {
    position: absolute;
    top: 10px;
    left: 23%;
    text-align: center;
    z-index: 1;
  }
  
  .overlay4 p {
    color: rgb(26, 26, 26);
    font-size: 54px;
    font-weight: 500;
    margin: 0;
  }
  
  #middle5-text {
    margin-left: 300px;
  }
  
  .overlay5 {
    position: absolute;
    top: 10px;
    left: 28%;
    text-align: center;
    z-index: 1;
  }
  
  .overlay5 p {
    color: rgb(26, 26, 26);
    font-size: 54px;
    font-weight: 500;
    margin: 0;
  }
}

/* team-section */

.team-section {
  height: auto;
  background-color: #f4f3f3;
  overflow: hidden;
}

.team-tittle {
  padding: 50px;
  margin-bottom: 110px;
}

.team-text {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: "plaak-heavy";
}

.team-main-text {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 58px;
  font-style: bold;
  line-height: 1.3;
}

/* team-cards */

.team-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 50px;
  padding: 20px;
}

.team-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.contenido-oculto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 70px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-title {
  position: absolute;
  padding: 10px;
}

.card-title h2 {
  color: #fff;
  margin: 0;
}

.card-tittle-size {
  font-size: 60px;
  font-family: "plaak-light";
  margin-left: 25px;
  margin-top: 10px;
  font-weight: normal;
}

.card-tittle-size-lastname {
  position: absolute;
  margin-left: 16px;
}

.slide-animation {
  animation: slideAnimation 1s ease-in-out forwards;
}

.slide-reverse {
  animation: slideReverse 1s ease-in-out forwards;
}

@keyframes slideAnimation {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(500px, 0, 0);
  }
}

@keyframes slideReverse {
  from {
    transform: translate3d(500px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.team-card-image {
  height: 560px;
  width: 560px;
  object-fit: cover;
  padding-bottom: 24px;
}

.team-card-team {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-family: "plaak-heavy";
}

.team-card-text-container {
  margin-left: 150px;
}

.team-card-text {
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.team-card-sub-text {
  margin-left: 300px;
}

/* arrow */

.arrow1 {
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
  margin-right: 30px;
  margin-top: 35px;
  align-items: center;
}

.arrow1.rotate {
  animation: rotate-arrow 0.5s;
  transform: rotate(225deg);
}

@keyframes rotate-arrow {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

.arrow1.reverse-arrow {
  animation: reverse-arrow 0.5s;
  transform: rotate(45deg);
}

@keyframes reverse-arrow {
  0% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* footer*/

footer {
  background-color: #1d1d1b;
  color: #f4f3f3;
}

.footer-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-family: "plaak-light";
  border-bottom: 1px solid white;
  text-align: center;
  padding: 20px;
}

.footer-mid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 20px;
}

.footer-mid-text {
  margin-right: 130px;
}
.footer-bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: 42px;
  font-family: "plaak-light";
  font-style: 205;
  padding: 10px;
  overflow: hidden;
}

.footer-text-bar {
  animation: scroll-left-footer 5s linear infinite;
  white-space: nowrap;
}

@keyframes scroll-left-footer {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.footer-icons {
  text-align: center;
  margin-top: 20px;
  padding: 30px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.icons li {
  margin: 0 10px;
  font-size: 30px;
}

.icons li:first-child {
  margin-left: 0;
}

.icons li:last-child {
  margin-right: 0;
}

.icons a i {
  color: #f4f3f3;
}
